header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 40px;
    background: #B79B7E;

    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#logo{
    font-weight: 600;
    color: azure;
}

#navigation_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#navigation_bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navigation_bar a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}

#navigation_bar a:hover,
#navigation_bar a.active{
    color: black;
}

#navigation_bar a:hover::after,
#navigation_bar a.active::after {
    content: "";
    width: 70%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#banners {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    padding: 20px;
}

#banner_1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#banner_2 , #banner_3 {
    grid-column-start: 2;
}

#banners img {
    border-radius: 10px;
    object-fit: cover;
    height: 80%;
    width: 95%;
}

#banner_1 img {
    height: 90%;
}

#banners a{
    text-decoration: none;
}

.banner_text {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 300;
    color: black;
}

/* #new_collection {
    width: 100%;
    position: absolute;
    font-size: 50px;
    padding: 40px 50px;
    bottom: 0;
    left: 10;
    color: white;
} */

.product {
    width: 30%;
    text-align: center;
    margin: 15px 0px;

    border: 1px solid black;
    border-radius: 6px;

    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.4s;
}

.product_image{
    margin-top: 35px;
    width: 100%;
    cursor: pointer;
}

.product_like {
    position: relative;
}

.product_like img {
    z-index: 3;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.product:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

#products, .categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.category {
    height: 250px;

    text-align: center;

    background-color: rgb(229, 229, 229);
    border-radius: 10px;
}

#categories_1 .category {
    width: 32%;
}

#categories_2 .category {
    width: 23%;
    height: 40%;
}

.category img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.category p {
    font-size: 25px;
    font-weight: 400;
    color: black;
    margin-top: 10px;
}

#feedback {
    text-align: center;
}

#feedback input {
    margin-bottom: 30px;
}